trash/
piecewise_pixel_prediction.py
test.py
*.zip
__pycache__/
analysis_script2.py
pipeline2.py
plots2.py
sintetic_img_generator.py
curated_images/
analisis2/
other.py
images_complete/green_book_corpus/*
!images_complete/green_book_corpus/airs/maps/
!images_complete/green_book_corpus/aviris/maps/
!images_complete/green_book_corpus/casi/maps/
!images_complete/green_book_corpus/hyperion/maps/
!images_complete/green_book_corpus/iasi_l1c/maps/
!images_complete/green_book_corpus/landsat/maps/
analisis/Borrador.docx
analisis/Comentarios.docx
analisis/*.xlsx
!analisis/entropy_results.xlsx
!analisis/context_model_analysis_results.xlsx
!analisis/residual_stats_results.xlsx





